.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    padding: 3.2rem 7rem 0;
}

.hwTitle {
    margin: 10.7rem 7rem 1rem 7rem;
    font-weight: 600;
    font-size: 22px;
}